
@{
    ViewBag.Title = "Crear";
}
<div class="formStyle">
    <form>
        <div class="section"><span>1</span>Seleccionar Modelo</div>
        <div class="interiorCard">
            <label>Modelos <select id="selModel"><option>Pinturas</option><option>Artistas</option></select></label>

        </div>


        <div id="restDiv" class="d-none">
            <div class="section"><span>2</span>Contenido</div>
            <div id="paint" class="interiorCard d-none">
                <label>Titulo <input type="text" name="txtTitle" /></label>
                <label>Descripción<textarea name="txtAreaDescripcion"> </textarea></label>
                <select id="selArtist"><option>Artista Prueba</option></select>
                <label>Precio <input type="text" name="txtPrice" /></label>
                <label>Imagen <input type="file" name="fileImage" /></label>

            </div>
            <div id="artist" class="interiorCard d-none">
                <label>Nombre <input type="text" name="txtNombre" /></label>
                <label>Apellido <input type="text" name="txtApellido" /></label>
                <label>Pais <input type="text" name="txtPais" /></label>
                <label>Descripción <input type="text" name="txtDescripcion" /></label>
            </div>
            <div class="button-section">
                <input type="submit" name="Sign Up" />
            </div>
        </div>

    </form>
</div>

@section scripts{

    <script>

        $("#selModel").change(function () {

            console.log($("#selModel").val());
            if ($("#selModel").val() == "Pinturas") {

                 $("#restDiv").removeClass("d-none");
                 $("#paint").removeClass("d-none");
                 $("#artist").addClass("d-none");
            } else if ($("#selModel").val() == "Artistas") {
                $("#restDiv").removeClass("d-none");
                $("#artist").removeClass("d-none");
                $("#paint").addClass("d-none");
                }
        });
    </script>


}