@model IEnumerable<ArtShop.Data.Model.Product>
@{
    ViewBag.Title = "Tienda Oficial de Venta de Pinturas";
}




<div class="contentPage">
    <section class="sectionLeft">
        <h1 class="centerText">Últimas pinturas</h1>
        <div class="cardHome">
            @foreach (var item in Model)
            {
                <div class="cardProp colProp-lg-4">
                    <img src="~/Content/Images/Paints/@item.Image" alt="Pintura de Prueba">
                    <span class="spanPrice">$@item.Price</span>
                    <div class="cardContainer">
                        <h4><b>@item.Title</b> </h4>
                        <p>ID Artista: @item.ArtistID (Provisorio)</p>
                        <a href=@Url.Action("itemProduct","Product",new {id=item.Id })><span class="icon-plus">Ver<i class="medium material-icons" style="position: relative;top: 6px;">add_box</i></span></a>
                    </div>
                </div>
            }

        </div>
        <span class="spanbtnHome">

            @Html.ActionLink("Ver Más", "Index", "Product", new { area = "" }, new { @class = "btn btn-success btnHome", @style = "line-height: 30px;" })
        </span>

    </section>
    <aside>
        SECCION ASIDE
    </aside>
</div>
<div class="clearfix"></div>