@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{

    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
    {
        @Html.AntiForgeryToken()

    <li class="right"> <a href="javascript:document.getElementById('logoutForm').submit()" title="Cerrar Sesión"><i class="material-icons icon-small" style="position: relative;top: 10px;right:5px;">exit_to_app</i></a></li>
        <li class="right">
            <i class="icon-small material-icons" style="position: relative;top: 10px;right:5px;">perm_identity</i>@Html.ActionLink(User.Identity.GetUserName(), "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>


    }

}
else
{
    @*<ul class="nav navbar-nav navbar-right">*@
    <li class="right"><i class="icon-small material-icons" style="position: relative;top: 10px;right:5px;">person_add</i>@Html.ActionLink("Registrarse", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
    <li class="right">@Html.ActionLink("Iniciar sesión", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    @*</ul>*@
}
