
@{
    ViewBag.Title = "Producto de Prueba";
}

    <div class="contentPage">
        <section class="product">
            <div class="product_photo">
                    <div class="photo-main">
                        <img src="~/Content/Images/pinturaPrueba.png" alt="Pintura de Prueba">
                    </div>
            </div>
            <div class="product_info">
                <div class="title">
                    <h1>Pintura de Prueba</h1>
                    <span>COD: 25048</span>
                </div>
                <div class="price">
                    U$ <span>100.10</span>
                </div>
                <div class="description">
                    <h3>DESCRIPCION</h3>
                    <ul>
                        <li>Autor: Leonardo Da Vinci</li>
                        <li>Año: 1480</li>
                        <li>Lugar: Italia</li>
                    </ul>
                </div>
                <button class="btn btn-lg btn-outline-success">AGREGAR AL CARRITO</button>
            </div>
        </section>

    </div>
