
@{
    ViewBag.Title = "Carrito de Compras";
}
    <div class="contentPage">
        <table class="table cart-items">
            <thead>
                <tr>
                    <th colspan="2">Producto</th>

                    <th>Precio</th>
                    <th>Cantidad</th>
                    <th>Total</th>

                </tr>
            </thead>

            <tbody>
                <tr>
                    <td colspan="2">Pintura Mona Lisa</td>
                    <td>U$100.10</td>
                    <td>2</td>
                    <td>U$200.20</td>
                </tr>
            </tbody>
        </table>
        <div class=" buttonsCart">
            @Html.ActionLink("Seguir comprando", "Index", "Paints", new { area = "" }, new { @class = "btn btn-lg btn-outline-primary", @style = "line-height: 30px;" })
            @Html.ActionLink("Finalizar Compra", "Index", "Paints", new { area = "" }, new { @class = "btn btn-lg btn-success", @style = "line-height: 30px;" })
        </div>
           

        
    </div>