
@{
    ViewBag.Title = "Tienda Oficial de Venta de Pinturas";
}



    <div class="contentPage">
        <section class="sectionLeft">
            <h1 class="centerText">Últimas pinturas</h1>
            <div class="cardHome">
                <div class="cardProp colProp-lg-4">
                    <img src="~/Content/Images/pinturaPrueba.png" alt="Pintura de Prueba">
                    <span class="spanPrice">U$200</span>
                    <div class="cardContainer">
                        <h4><b>Pintura Prueba</b> </h4>
                        <p>Autor Prueba </p>
                        <a href=""><span class="icon-plus">Ver<i class="medium material-icons" style="position: relative;top: 6px;">add_box</i></span></a>
                    </div>
                </div>
                <div class="cardProp colProp-lg-4">
                    <img src="~/Content/Images/pinturaPrueba.png" alt="Pintura de Prueba">
                    <span class="spanPrice">U$200</span>
                    <div class="cardContainer">

                        <h4><b>Pintura Prueba</b></h4>
                        <p>Autor Prueba</p>
                        <a href=""><span class="icon-plus">Ver<i class="medium material-icons" style="position: relative;top: 6px;">add_box</i></span></a>
                    </div>
                </div>
                <div class="cardProp colProp-lg-4">
                    <img src="~/Content/Images/pinturaPrueba.png" alt="Pintura de Prueba">
                    <span class="spanPrice">U$200</span>
                    <div class="cardContainer">

                        <h4><b>Pintura Prueba</b></h4>
                        <p>Autor Prueba</p>
                        <a href=""><span class="icon-plus">Ver<i class="medium material-icons" style="position: relative;top: 6px;">add_box</i></span></a>
                    </div>
                </div>
            
                <div class="cardProp colProp-lg-4">
                    <img src="~/Content/Images/pinturaPrueba.png" alt="Pintura de Prueba">
                    <span class="spanPrice">U$200</span>
                    <div class="cardContainer">

                        <h4><b>Pintura Prueba</b></h4>
                        <p>Autor Prueba</p>
                        <a href=""><span class="icon-plus">Ver<i class="medium material-icons" style="position: relative;top: 6px;">add_box</i></span></a>
                    </div>
                </div>
                <div class="cardProp colProp-lg-4">
                    <img src="~/Content/Images/pinturaPrueba.png" alt="Pintura de Prueba">
                    <span class="spanPrice">U$200</span>
                    <div class="cardContainer">

                        <h4><b>Pintura Prueba</b></h4>
                        <p>Autor Prueba</p>
                        <a href=""><span class="icon-plus">Ver<i class="medium material-icons" style="position: relative;top: 6px;">add_box</i></span></a>
                    </div>
                </div>
                <div class="cardProp colProp-lg-4">
                    <img src="~/Content/Images/pinturaPrueba.png" alt="Pintura de Prueba">
                    <span class="spanPrice">U$200</span>
                    <div class="cardContainer">

                        <h4><b>Pintura Prueba</b></h4>
                        <p>Autor Prueba</p>
                        <a href=""><span class="icon-plus">Ver<i class="medium material-icons" style="position: relative;top: 6px;">add_box</i></span></a>
                    </div>
                </div>
            </div>
            <span class="spanbtnHome">

                @Html.ActionLink("Ver Más", "Index", "Paints", new { area = "" }, new { @class = "btn btn-success btnHome", @style="line-height: 30px;" })
            </span>

        </section>
        <aside>
           SECCION ASIDE
        </aside>
    </div>
<div class="clearfix"></div>
