
@{
    ViewBag.Title = "Compra";
}
    <div  class="formStyle">
        <div id="restDiv" class="OrderSuccess">
            <p>COMPRA APROBADA !</p>
            <p class="right">Muchas gracias, atte UAI CastelArt</p>
            <div class="clearfix"></div>
        </div>
    </div>