
@{
    ViewBag.Title = "ABM Artistas";
}


<div class="formStyle">
    <form>
        <div id="restDiv">
            <div id="artist" class="interiorCard">
                    <a id="linkCrearPaint" href="@Url.Action("Create","ABM")" class="btn btn-outline-success addButton"><i class="material-icons ">add_circle_outline</i>Nuevo Artista</a>
                    <table class="table cart-items">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Apellido</th>
                                <th>Descripcion</th>
                                <th>Pais</th>
                                <th>Acciones</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>John</td>
                                <td>Doe</td>
                                <td>Descripcion de la persona</td>
                                <td>Argentina</td>
                                <th> <a href="@Url.Action("Update","ABM")"><i class="material-icons icon-small">create</i></a><i class="material-icons icon-small">delete_outline</i></th>
                            </tr>
                        </tbody>
                    </table>
                </div>
        </div>

    </form>
</div>





